:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}
mat-drawer {
  width: 70px;
  background:rgb(57, 57, 241)

  }

mat-drawer-container {
  height: 100%;
}

mat-drawer-content {
  padding: 20px;
}
.example-card {
  max-width: 400px;
}
.det{
  margin-left: 20px;
}
.claim-btn{
  text-decoration: none;
  background-color:rgb(135, 135, 236);
padding: 7px;
border-radius:10px;
}
.pat-list{
font-size:20px;
text-decoration:none;
color: black;
font-weight:500;
}
.add-pat{
float: right;
text-decoration:none;
padding: 8px;
background-color: rgb(91, 235, 91);
color: white;

}
input{
  width: 25%;
  height: 30px;
}
.search-icon{
position: absolute;
left: 30px;
top: 80px;
}
input[type="text"]::placeholder {
  padding-left: 30px;
}
.filter-txt{
text-decoration:none;
padding: 6px;
background-color: rgb(68, 68, 230);
color: white;

}
